vti_encoding:SR|utf8-nl
vti_author:SR|UOCNT\\xca22
vti_modifiedby:SR|UOCNT\\xca22
vti_timelastmodified:TR|15 Oct 2017 22:29:46 -0000
vti_timecreated:TR|15 Oct 2017 22:29:46 -0000
vti_cacheddtm:TX|15 Oct 2017 22:29:46 -0000
vti_filesize:IR|487
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_syncofs_192.168.142.2\:21:TW|15 Oct 2017 22:36:00 -0000
vti_syncwith_192.168.142.2\:21:TX|15 Oct 2017 22:29:46 -0000
